<section>
    <h1 class="text-center">Categories</h1>

    <% unless @groups.empty? %>
    <% @groups.each do |item| %>
    <div class="border p-3 m-3">
            <p><strong>Name: </strong><%= link_to item.name, user_group_deals_path(current_user.id, item) %></p>
            <p><strong>Icon: </strong><%= item.icon %></p>
            <p><strong>Total Transaction Amount: </strong><%= item.deals.sum(:amount) %></p>
        </div>
    <% end %>
    <% else %>
        <h2>There are no Categories.</h2>
        <% end %>
    <%= link_to "Add New Category", new_user_group_path(current_user.id), class: "btn btn-primary m-3" %>
</section>
