<section>
    <h1 class="header">Snapscan</h1>
    <%= link_to "SignUp", new_user_registration_path, class: "m-4 btn btn-primary signUpBtn" %><br />
    <%= link_to "LogIn", new_user_session_path, class: "m-4 btn btn-primary logInBtn" %><br />
</section>
