<section class="ddd d-flex flex-column justify-content-center align-items-center" style="height: 90vh" style="width: 100%">
    <h1 class="fst-italic fw-bold">BudgetApp</h1>

<div class="d-grid">
    <% if user_signed_in? %>
    <%= button_to "LogOut", destroy_user_session_path, method: :delete, class: "m-4 btn btn-primary", style: "width: 100%" %>
<% else %>
    <%= link_to "SignUp", new_user_registration_path, class: "m-4 btn btn-primary" %><br />
    <%= link_to "LogIn", new_user_session_path, class: "m-4 btn btn-primary" %><br />
<% end %>

</div>

</section>
